<h1><%= t('helpers.sign_up') %></h1>
	
<div class='white_background'>
	<br />
	<!-- call the register form  block-->	
	<%= render :partial => 'shared/register_form', locals: {extended: true} %>
</div>	
