<%- model_class = Project -%>
<% javascript 'projects.js' %>
<div class="new-project-container">

<%= semantic_form_for @project, :url => {:controller => :projects, :action => :create }, :html=>{:method=>:post} do |f| %>
<% end %>

</div>

    <a data-toggle='modal' href="#default-template-confirmation-dialog" id="default-template-confirmation-dialog" class="btn"><%= t('helpers.project.confirmation_button_text')%></a>
